{% extends 'core/base.html' %}

{% block title %}
    Manajemen Jurusan
{% endblock title %}

{% block content %}
<div class="card bg-base-100 shadow-xl">
    <div class="card-body">
        <div class="flex justify-between items-center mb-4">
            <h2 class="card-title text-2xl">Daftar Jurusan</h2>
            <a href="#" class="btn btn-primary">Tambah Jurusan Baru</a>
        </div>

        <div class="mb-4">
            <input type="text" name="q" placeholder="Cari berdasarkan nama atau deskripsi..."
                   class="input input-bordered w-full"
                   hx-get="{% url 'academics:jurusan_list' %}"
                   hx-trigger="keyup changed delay:500ms"
                   hx-target="#jurusan-table-body"
                   hx-swap="innerHTML">
        </div>

        <div class="overflow-x-auto">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nama Jurusan</th>
                        <th>Deskripsi</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody id="jurusan-table-body">
                    {% include 'academics/partials/jurusan_table_body.html' %}
                </tbody>
            </table>
        </div>

        <div id="pagination-container">
        {% if is_paginated %}
          {% include "core/partials/_paginate.html" %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}