@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald --default, night --prefersDark;
};
@plugin "daisyui/theme" {
    name: "emerald";
    default: true;
    --color-primary: #10b981;
    --color-secondary: #14b8a6;
    --color-accent: #06b6d4;
    --color-neutral: #1f2937;
    --color-base-100: #ffffff;
    --color-base-200: #f3f4f6;
    --color-base-300: #e5e7eb;
    --color-info: #0ea5e9;
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-error: #ef4444;
}

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
