{% extends 'core/base.html' %}

{% block title %}
    Manajemen Akun
{% endblock title %}

{% block content %}
<div class="card bg-base-100 shadow-xl">
    <div class="card-body">
        <div class="flex justify-between items-center mb-4">
            <h2 class="card-title text-2xl">Daftar Akun Pengguna</h2>
            <a href="{% url 'users:akun_add' %}" class="btn btn-primary">Tambah Akun Baru</a>
        </div>

        <div class="mb-4">
            <input type="text" name="q" placeholder="Cari berdasarkan email..."
                   class="input input-bordered w-full"
                   hx-get="{% url 'users:akun_list' %}"
                   hx-trigger="keyup changed delay:500ms"
                   hx-target="#akun-table-body"
                   hx-swap="innerHTML">
        </div>

        <div class="overflow-x-auto">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th></th>
                        <th>Email</th>
                        <th>Peran</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody id="akun-table-body">
                    {% include 'users/partials/akun_table_body.html' %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
