<a href="{{ card_url }}" class="bg-gray-50 border-{{ color }} rounded-lg border-2 flex items-center p-4 hover:bg-base-100 transition-colors duration-200 group">
    <div class="bg-{{ color }}/10 p-3 rounded-lg mr-4">
        <i class="{{ icon }} text-2xl text-{{ color }} transition-transform duration-300 group-hover:scale-110"></i>
    </div>
    <div class="flex-grow">
        <h3 class="font-bold text-base-content">{{ title }}</h3>
        <p class="text-sm text-base-content/70">{{ description }}</p>
    </div>
    <i class="fa-solid fa-chevron-right text-sm text-base-content/50 transform transition-transform duration-300 group-hover:translate-x-1"></i>
</a>
